.comment-header{
    margin-left: 25%;
}
.Comment-my{
    margin: 0;
    margin-left: 15px;
    padding-left: 15px;
    display: inline-block;
}
.textarea-my{
    border:1px none;
    border-style:solid;
    border-radius: 4px;
    width: 100%;
}
.block-buttons{
    margin-left: 70%;
}
.box-comment{
    width: 70%;
    height: 70%;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-right: 3%;
    display: inline-block;
    float: right;
}
.box-book{
    width: 17%;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    margin-left: 20px;
}
.input-button{
    margin: 2px;
}